/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), system-ui, sans-serif;
  font-variation-settings: "wght" var(--font-weight-txt);
  background-image: var(--gradient-horisontal), var(--gradient-vertical),
    var(--gradient);
  background-size: cover;
  background-attachment: fixed;
}

.button {
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--font-color);
  background-color: var(--background-color);
  text-align: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--font-color);
}

.button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--font-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}



@media (hover:hover) {

.button:hover::before {
  transform: translateX(0);
}

.button:hover {
  cursor: pointer;
}
}


/* ---ШАКПКА--------------------------------------------------------------------------------------------------------------------------- */

.header {
  inline-size: var(--inline-size);
  margin: 100px auto;
  background-color: var(--background-color);
  padding: clamp(120px, 10vw, 128px)
    clamp(16px, calc(-21.676px + 10.047vw), 122px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid #000;
}

.header_logo {
  font-family: var(--font-family-accent), system-ui, sans-serif;
  font-size: clamp(49px, calc(43.366px + 1.502vw), 65px);
  color: var(--font-color), #000000;
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.header_title {
  font-family: var(--font-family-accent), system-ui, sans-serif;
  font-size: clamp(14px, calc(10.831px + 0.845vw), 23px);
  color: var(--font-color);
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 400;
}

/* --- MAIN --------------------------------------------------------------------------------------------------------------------------- */

.main {
  margin: 0 auto;
  inline-size: var(--inline-size);
  display: grid;
  grid-template-columns: 1fr;
  gap: 50.3px;
  padding: 0 0 100px 0;
}

/* ---КАРТОЧКИ-------------------------------------------------------------------------- */

.card {
  border: 2px solid var(--font-color);
  background-color: var(--background-color);
  inline-size: 100%;
}

.card_title {
  font-size: 18px;
  font-family: var(--font-family), system-ui, sans-serif;
  color: var(--font-color);
  padding: 7px 10px 4.5px 10px;
  font-variation-settings: "wght" var(--font-weight-title);
  line-height: 100%;
  border-block-end: 2px solid var(--font-color);
}

@media (width <= 375px) {
  .card_title {
    line-height: 111%;
  }
}

/* --КОНТЕЙНЕР ДЛЯ КАРТИНКИ---------------------------------------------------------------- */

.container_image {
  position: relative;
  block-size: var(--block-size-card);
  border-block-end: 2px solid var(--font-color);
  overflow: hidden;
}

.card_image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* ---ФИЛЬТРЫ КАРТИНОК-------------------------------------------------------------------- */

.filter-grayscale {
  filter: grayscale(80%) brightness(1.4) contrast(90%);
}

.filter-saturate {
  filter: saturate(380%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(100%) contrast(60%);
}

.filter-sepia {
  filter: sepia(0.9);
}

.filter-blur {
  filter: blur(15px);
}

.filter-multy {
  filter: hue-rotate(85deg) contrast(44%) blur(1.7px) saturate(150%);
}

.card_label {
  font-family: var(--font-family-accent), system-ui, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  mix-blend-mode: hard-light;
  opacity: 70%;
  position: absolute;
  color: var(--font-color);
  top: 25px;
  right: 25px;
  text-shadow: -1px -1px 0 var(--background-color),
    1px -1px 0 var(--background-color), 1px 1px 0 var(--background-color),
    -1px 1px 0 var(--background-color);
}

@supports (
  (text-stroke: 0.7px var(--background-color)) or
    (-webkit-text-stroke: 0.7px var(--background-color))
) {
  .card_label {
    -webkit-text-stroke: 0.7px var(--background-color);
    text-stroke: 0.7px var(--background-color);
    text-shadow: none;
  }
}

/* --КОНТЕЙНЕР ДЛЯ ТЕКСТА И КНОПОК-------------------------------------------------------- */

.container_description {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  gap: 25px;
}

.card_text {
  font-size: 18px;
  font-family: var(--font-family), system-ui, sans-serif;
  color: var(--font-color);
  line-height: 117%;
  font-variation-settings: "wght" var(--font-weight-txt);
}

/* ---КОНТЕЙНЕР С КРОПКАМИ--------------------------------------------------------------- */

.container_btn {
  display: flex;
  gap: 6px;
  justify-content: end;
  align-items: center;
}

/*СЕРДЦЕ И ЕГО АНИМAЦИЯ------------------------------------------------------------------ */

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked {
  transform-origin: center;
  animation: increaseIconSize 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: appearanceOfSparks 0.3s ease-in 0.3s;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  max-height: 32px;
  padding: 0;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--font-color);
}

.card__like-button {
  padding: 9px 17px 5px 17px;
  min-inline-size: 130px;
  max-inline-size: 130px;
}

.button__text {
  font-family: var(--font-family-accent), system-ui, sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
  color: var(--background-color);
  mix-blend-mode: difference;
  z-index: 1;
}

/* ---КНОПКА СОХРАНИТЬ НА ПАМЯТЬ--------------------------------------------- */

.save_button {
  justify-self: center;
  padding: 15px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.discetta {
  inline-size: 21px;
  block-size: 21px;
  stroke: var(--background-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save_button {
    flex-direction: column;
    gap: 8px;
  }

  .discetta {
    inline-size: 28px;
    block-size: 28px;
  }
}

/* ---ВСПЫЛВАЮЩЕЕ ОКНО--------------------------------------------------------------------------------------------------------------- */

#dialog_discetta {
  display: none;
  padding: 30px;
  inline-size: clamp(341px, calc(336.775px + 1.127vw), 353px);
  min-inline-size: 341px;
  outline: 2px solid var(--font-color);
  border: none;
}

#dialog_discetta[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  column-gap: 20px;
  row-gap: 30px;
}

@media (width <= 375px) {
  #dialog_discetta[open] {
    padding: 30px 40px;
  }
}

.dialog_button {
  grid-column: 1 / 3;
  justify-self: center;
  padding: 7px clamp(116px, 111.07px + 1.315vw, 130px);
  inline-size: clamp(261px, 249.732px + 3.0047vw, 293px);
  text-transform: uppercase;
}

.discetta_open-dialog {
  inline-size: 39px;
  block-size: 39px;
  justify-self: center;
  align-self: center;
}

.dialog__text {
  font-family: var(--font-family-accent), system-ui, sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

#dialog_discetta::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
